* {
  padding: 0;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #3f51b5;
}

.contains {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  width: 40%;
  height: 85%;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #ecebeb;
}
.contains .title {
  font-size: 1.5rem;
  color: #2962ff;
  padding: 1rem;
  font-weight: bold;
  font-style: oblique;
}
.image i {
  font-size: 4rem;
  color: #00bfa5;
  margin-top: 3rem;
}
.start-rate > article {
  border: 1px solid black;
  width: 70%;
}
.end-rate > article {
  border: 1px solid black;
  width: 70%;
}

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: #bdbdbd;
}
.description span {
  text-align: center;
  font-size: 0.5rem;
}
.start-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 1.5rem;
  padding: 0.5rem 0.5rem;
  background-color: white;
  border-radius: 1rem;
}
.end-rate {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.5rem;
  background-color: white;
  border-radius: 1rem;
}

.rate {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.rate .fas {
  margin-left: 8px;
  margin-top: 0;
  position: absolute;
  cursor: pointer;
}

.swap {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin: 0.2rem;
  padding: 0.5rem 0.5rem;
}
.swap > article {
  border: 1px solid black;
  width: 70%;
}
.swap > a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.5rem;
  cursor: pointer;
}
.num {
  text-align: end;
  padding: 3px;
  border: none;
  outline: none;
}

.rate > li {
  width: 100%;
  position: relative;
}
.rate li a {
  display: inline-block;
  width: 100%;
  color: white;
}
.rate > li > ul {
  position: absolute;
}

.main {
  display: flex;
  flex-direction: column;
  width: 65%;
  list-style: none;
  display: none;
  background-color: black;
}
.main > li > a:hover {
  background-color: bisque;
}

.rate1 {
  text-decoration: none;
  color: black;
  width: 100%;
}
.click {
  display: flex;
  flex-direction: column;
}

.main i {
  cursor: pointer;
}
.swap a {
  color: blue;
}
